*
{
    box-sizing: border-box;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    scroll-behavior: smooth;
}

body
{
    font-family: 'Work Sans', sans-serif;
}


a,
a:hover
{
    text-decoration: none;
    color: inherit;
}

ul, ol, li
{
    list-style-type: none;
}


h1 {font-size: var(--h1-font-size); line-height: var(--h1-line-height); margin: 0;}
h2 {font-size: var(--h2-font-size); line-height: var(--h2-line-height);}
h3 {font-size: var(--h3-font-size); line-height: var(--h3-line-height);}
h4 {font-size: var(--h4-font-size); line-height: var(--h4-line-height);}
h5 {font-size: var(--h5-font-size); line-height: var(--h5-line-height);}
h6 {font-size: var(--h6-font-size); line-height: var(--h6-line-height);}

p {font-size: var(--normal-text-font-size); line-height: var(--normal-text-line-height);}
p.logo {font-size: var(--logo-text-font-size); line-height: var(--logo-text-line-height); font-weight: 500;}
p.large  {font-size: var(--large-text-font-size);  line-height: var(--large-text-line-height);}
p.medium {font-size: var(--medium-text-font-size); line-height: var(--medium-text-line-height);}
p.small {font-size: var(--small-text-font-size); line-height: var(--small-text-line-height);}


.container
{
    padding-left: var(--container-space);
    padding-right: var(--container-space);
    margin-left: auto;
    margin-right: auto;
}
